

/* #form-control {
 height: 400px;
 width: 200px;
} */

/* p {
 line-height: 400px;
} */

/* .section-container {
 height:fit-content;
} */

/* .hero-full-container {
height:max-content -100px;
} */

/* .navbar-default {
background: orange;
} */


.box {
 line-height: -100px;
 padding: -50px;
}

.input-box {
 border-color: orange;
width: 500px;
00px;
}

.message-box {
 height: 100px;
 width: 500px;
 padding-top: 0px;
 margin-top: 0px;
 font-weight: 200px;
 border-color: orange;
}


.button {
 height:40px;
 width: 80px;
 font-size:larger;
 font-weight: 10px;
 border-color: orange;
 border-radius: 5px;
 border-width: 5px;
}

h2 {
 margin-top: 70px;
 
} 

h3 {
 font-size: 1.5em;
}


.contact-height {
 height: 100px;
} */

h4 {
font-size: 15px;
}


/* .fa.fa-linkedin {
 height: 0px;
} */

/* .container {
 flex-direction: row;
 
} */

/* .social {
 border-width: 10px;
 border-color: green;
 display: grid;
 justify-content: space-evenly;
} */

.grid-container{
display:inline-grid;
gap: 50px 60px;
}

.grid-item1 {
 grid-column-start: 1; 
 grid-column-end: 1;
 column-width:100px;
}

.grid-item2 {
 grid-column-start: 2;
 grid-column-end: 2;
 column-width: 20px;
}

.grid-item3 {
 grid-column-start: 3;
 grid-column-end: 3;
 column-width: 20px;
}

/* .fa-icon {
 height: 100px;
 color: orange;
} */

/* .wrapper {
 height: 400px;
 margin-top: -250px;
} */
/* 
.form-action{
 display: flex;
 align-items: center;
} */