@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Comfortaa:wght@300;400&family=Righteous&display=swap');

.h2-center {
 display: flex;
 align-items: center;
}

/* colour of  'Get to know me' header*/
.h2{
 color:#FB8500;
}


#navbar-collapse {
    max-height: 400px;
}



.paragraph-font-size {
 margin-left: 60px;
 margin-right: 60px;
}

/* colour of 'My Work' header */
.change-color {
 color: #FB8500;
}

.change-color-collab {
 color: #580AFF
 ;
}

.change-color-untied {
 color: #118AB2

 ;
}

/* sub heading font size */
.paragraph-font-size {
font-size: 18px;
}

.change-font {
 font-family: 'Capriola', sans-serif;
}



.change-font-size {
 font-size: 10px;
}

.push {
 /* border: solid 3px yellow; */
 margin-left:  75em;
 margin-top: 10px;
 padding: 5px;
}

.icon-container { 
 border: solid 3px green;
 list-style: none;
margin-top: 5px;
 display: grid;
 grid-template-rows:1/1; 
justify-content: end;
}

/* 
this says as soon as it gets below 600px use the following CSS properties - e.g. smaller font size, no padding. */
/* @media only screen and (max-width: 600px) {
 .push {
     margin-left: 10px;
     padding: 0;
 }
 } */
