@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Comfortaa:wght@300;400&family=Righteous&display=swap');

.h2-center {
 display: flex;
 align-items: center;
}

/* colour of  'Get to know me' header*/
.h2{
 color:#FB8500;
}

.paragraph-font-size {
 margin-left: 60px;
 margin-right: 60px;
}

/* colour of 'My Work' header */
.change-color {
 color: #FB8500;
}

.change-color-collab {
 color: #580AFF
 ;
}

.change-color-untied {
 color: #118AB2

 ;
}

/* sub heading font size */
.paragraph-font-size {
font-size: 18px;
}

.change-font {
 font-family: 'Capriola', sans-serif;
}



.change-font-size {
 font-size: 10px;
}

/* size of timeline image and space around - doesn't actually work now*/
/* .img-responsive {
 width: 100%; 
 padding: 15%;
} */