@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Comfortaa:wght@300;400&family=Righteous&display=swap');

/* .h2-center {
    border: solid 3px purple;
 display: flex;
 align-items: center;
} */

/* colour of  'Get to know me' header*/
.h2{
 color:#FB8500;
}

#navbar-collapse {
    max-height: 400px;
}

.nav-font {
    font-size: 1px;
}
.nav {
    width: 100%;
    display: flex;
align-items: center;
justify-content: left;
}

.navbar {
    max-width: 100%;
}

.linkedin-icon {
    margin-left: auto;
}

.paragraph-font-size {
 margin-left: 60px;
 margin-right: 60px;
}

/* colour of 'My Work' header */
.change-color {
 color: #FB8500;
}

.change-color-collab {
 color: #580AFF
 ;
}

.change-color-untied {
 color: #118AB2

 ;
}

/* sub heading font size */
.paragraph-font-size {
font-size: 18px;
}

.change-font {
 font-family: 'Capriola', sans-serif;
}

@media screen and (max-width: 600px) {
    .nav {
       flex-wrap: wrap;
    }
  }

.change-font-size {
 font-size: 10px;
}


footer {
    background-color: rgba(0, 0, 0, 0.934);
    width:100%;
    height: 70px;
    padding-bottom: 25px;
   }
   
   #linkedin {
    height: 25px;
   width:25px;
   margin-top: 20px; 
   }
   
   #github {
    height: 30px;
   width:30px;
   margin-top: 20px;  
   }
   
   
   .icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
   }

   #email {
    height: 30px;
    width: 30px;
    margin-top: 20px;
   }
   
   #avatar {
    height:50px;
    width: 50px;
   }

/* .push {
 border: solid 3px purple;
 margin-left: 100px;
 margin-top: 10px;
 padding: 5px;
 list-style: none;
} */

/* .icon-container { 
 border: solid 3px green;
 list-style: none;
margin-top: 5px;
 display: grid;
 grid-template-rows:1/1; 
justify-content: end;
} */

/* 
this says as soon as it gets below 600px use the following CSS properties - e.g. smaller font size, no padding. */
/* @media only screen and (max-width: 600px) {
 .push {
     margin-left: 10px;
     padding: 0;
 }
 } */
