
.h2-center {
 display: flex;
 align-items: center;
}

.change-color1 {
 color: #2596BE;
}

.change-color2 {
 color: #580AFF;
}

/* .nav {
 width: 100%;
 display: flex;
 align-items: center;
} */

#navbar-collapse {
 width: 100%;
 display: flex;
align-items: center;
}

/* .link {
 color: green;
} */

/* sub heading font size */
.paragraph-font-size {
 font-size: 18px;
 padding-top: 0px;
 padding-bottom: 0px;
 }

 .indent {
  margin-left: 15px;
  font-size: 15px;
 }


 /* .circle {
  flex-direction: centre;

 } */
 
 .centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
