@import url(https://fonts.googleapis.com/css?family=Roboto:900|Roboto+Mono:300,400,700);@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
  /* box top margin, page font*/
  margin-top: 0px;
  /* padding alters width of vertical line */
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto mono", sans-serif;
}


html{
  scroll-behavior: smooth;
}

/* page background colour */
body{
  background: #fff;
}
::selection{
  color: #fff;
  background: #3ea0e2;
}

/* width of boxes, margin from text intro para,   */
.wrapper{
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 40px;
  position: relative;
}

/* vertical line colour */
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #C4C4C4;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}

/* box background color, border, box width,  padding */
.wrapper .row section{
  background: #F7F8F9;
  border: solid 8px #D9D9D9;
  border-radius: 5px;
  width: calc(50% - 50px);
  padding: 25px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}

/* icon circles -fill/border, position, icon colour and size */
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: rgba(0, 0, 0, 0.886);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FB8500;
  font-size: 20px ;
  box-shadow: 0 0 0 3px #D9D9D9, inset 0 1px 0 rgba(0,0,0,0.1), 0 3px 0 4px rgba(0,0,0,0.05);
}

/* img {
 
  height: 10%;
  width: 70%;
}  */

/* vertical centre line position, bottom arrow size, circle vertical position */
.center-line .scroll-icon{
  bottom: -10px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

/* icon positioning */
.row-1 section .icon{
  top: 15px;
  right: -52px;
}
.row-2 section .icon{
  top: 15px;
  left: -52px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* box header/title */
.row section .details .title{
  font-size: 20px;
  font-weight: 600;
}

/* gap below photo above paragraph  */
.row section p{
  margin: 0px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #3ea0e2;
  color: #fff;
  padding: 7px 0px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}

/* creates 2 columns around center line */
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  /* .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  } */
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}

/* size of image and space around */
.img-responsive {
  width: 100%; 
  padding: 15%;
 }